{% extends 'adminapp/base.html' %}
{% load staticfiles %}

{% block content %}
    {% if messages %}
        <div class="alert alert-danger" role="alert">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="mt-4">Изменение продукта</h1>
    <form action="{% url 'admin_staff:products_item_update' product.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        <div class="form-row">
            <div class="col-lg-12" style="margin-top: 33px;">
                <input class="btn btn-info btn-block" type="submit" value="Сохранить">
            </div>
        </div>
    </form>
    <div class="row">
        {% if product.is_active %}
            <div class="col-lg-12" style="margin-top: 33px;">
                <a href="{% url 'admin_staff:products_item_remove' product.pk %}">
                    <input class="btn btn-danger btn-block" type="submit" value="Удалить">
                </a>
            </div>
        {% else %}
            <div class="col-lg-12" style="margin-top: 33px;">
                <a href="{% url 'admin_staff:products_item_active' product.pk %}">
                    <input class="btn btn-success btn-block" type="submit" value="Восстановить">
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}
