{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'auth:edit' %}">
            {{ user.first_name|default:'USER' }}
        </a>
    </li>
    {% if user.is_superuser or user.is_staff %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin_staff:index' %}">
                <i class="fas fa-users-cog"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">
                Admin Panel
            </a>
        </li>
    {% endif %}
{% endif %}

<li class="nav-item">
    {% if user.is_authenticated %}
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link" class="dropdown-toggle" href="" data-toggle="dropdown">
                    {{ user.first_name|default:'Пользователь' }}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link" href="{% url 'authapp:edit' %}">профиль</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'ordersapp:orders_list' %}">заказы</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'authapp:logout' %}">Выйти</a>
                    </li>
                </ul>
            </div>
        </li>
    {% else %}
        <a class="nav-link" href="{% url 'auth:login' %}">Войти</a>
    {% endif %}
</li>
