{% block category %}
    <div class="col-lg-3">

        <h1 class="my-4">GeekShop</h1>
        <div class="list-group">
            {% for category in categories %}
                {% if category.is_active %}
                    <b><a href="{% url 'products:category' category.pk %}"
                          class="list-group-item bg-light">{{ category.name }}
                    </a>
                    </b>
                {% endif %}
            {% endfor %}
        </div>

    </div>
    <!-- /.col-lg-3 -->
{% endblock %}