{% extends 'mainapp/base.html' %}
{% load staticfiles %}

{% block css %}
    <title>{{ title | title }}</title>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            {% include 'mainapp/category.html' %}

            <div class="col-lg-9">

                {% include 'mainapp/carousel.html' %}

                <div class="row">
                    {% for product in products %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="
                                        {% if not category_pk %}{{ product.category.uid }}/{% endif %}{% if not product.paginator.num_pages %}1/{% endif %}{{ product.pk }}">
                                    <img class="card-img-top" src="/media/{{ product.image }}"
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="
                                                {% if not category_pk %}{{ product.category.uid }}/{% endif %}{% if not product.paginator.num_pages %}1/{% endif %}{{ product.pk }}">{{ product.name }}</a>
                                    </h4>
                                    <h5>{{ product.price }} руб.</h5>
                                    <p class="card-text">{{ product.short_desc }}</p>
                                </div>
                                <div class="card-footer text-center">
                                    <a href="{% url 'basketapp:add' product.pk %}">
                                        <button type="button" class="btn btn-outline-success">
                                            Отправить в корзину
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="#">
                                    <img class="card-img-top" src="/media/products_images/404.jpg"
                                         alt="">
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title">Товара в данной категории нет!</h4>
                                    <p class="card-text">Мы работаем над заполнением данной категории!</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <!-- /.row -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
                            <a class="page-link"
                               href="{% if products.has_previous %} {% url 'products:page' category_pk products.previous_page_number %} {% else %} # {% endif %}">
                                Previous
                            </a>
                        </li>
                        {% for page in products.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% url 'products:page' category_pk page %}">
                                    {{ page }}
                                </a>
                            </li>
                        {% endfor %}
                        <li class="page-item {% if not products.has_next %} disabled {% endif %}">
                            <a class="page-link"
                               href="{% if products.has_next %} {% url 'products:page' category_pk products.next_page_number %} {% else %} # {% endif %}">
                                Next
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    {% include 'mainapp/footer.html' %}

{% endblock %}
